<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/index.css'>
    <link rel='stylesheet' href='/stylesheets/base.css'>
</head>

<body>
    <div class="app">
        <div class="header">
            <nav class="headerNavbar">
                <ul class="item">
                    <li class="information information--nau"><a href="https://www.facebook.com/zeusoc/">Helper</a>
                        <i class="fas fa-bell"></i>
                    </li>
                    <li class="information"><a href="https://www.facebook.com">Conect</a>
                    </li>
                </ul>

                <ul class="item">
                    <li class="information information--click"> <a href="" class="information-item-link"> 
                          Stories
                          <i class="far fa-address-book"></i>
                          </a>
                        <div class="Story">
                            <header class="story_header">
                                <h3>Includes the most recent Product</h3>
                            </header>
                            <ul class="story_list">
                                <li class="list_item">
                                    <a href="header_notify_link" class="header_notify_item">
                                        <img src="/images/download.jpg" alt="Picture" class="header_Story_img">
                                        <div class="header_story_info">
                                            <span class="hearder_story_name">I PHONE 13 </span>
                                            <span class="describe">The story is about 7 dwarfs who love 1 mermaid...</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list_item">
                                    <a href="header_notify_link" class="header_notify_item">
                                        <img src="./images/Goden.jpg" alt="Picture" class="header_Story_img">
                                        <div class="header_story_info">
                                            <span class="hearder_story_name">Goden </span>
                                            <span class="describe">The story is about a mermaid who ishes away and meets a prince</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list_item">
                                    <a href="header_notify_link" class="header_notify_item">
                                        <img src="/images/Cat.jpg" alt="Picture" class="header_Story_img">
                                        <div class="header_story_info">
                                            <span class="hearder_story_name">CAT SUPER CUTE </span>
                                            <span class="describe"> this story reflects the conflicts in the family, 
                                                               the struggle between and the good overcomes the evil of the 
                                                               Vietnamese people.</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list_item">
                                    <a href="header_notify_link" class="header_notify_item">
                                        <img src="./img/m_1813217674_cay-tre-tram-dot.jpg" alt="Picture" class="header_Story_img">
                                        <div class="header_story_info">
                                            <span class="hearder_story_name">Fairy tale bamboo tree hundred burning </span>
                                            <span class="describe">The story is about an oppressed poor farmer</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <footer class="story_showmore">
                                <a href="" class="story_more">Show all</a>
                            </footer>
                        </div>
                    </li>
                    <li class="information"> <a href="" class="information-item-link"> 
                          Vovabulary
                          <i class="fab fa-alipay"></i>
                    </a></li>
                    <a href="/login">Login</a>
                    <a href="/sign">sign up</a>
                </ul>
            </nav>
            <div class="search">
                <H1>Search</H1>
                <div class="content_search">
                    <input type="text" class="header_search_input" placeholder="You can search product here">
                </div>
                <i class="search_icon fas fa-atlas"></i>
            </div>
            <div class="body_fist">
                <div class="Inside_body">
                    <img src="./img/hoc-tieng-anh-qua-hinh-anh-minh-hoa-1.png" alt="" class="img_qualityOfTeaching">
                    <h2 class="content2_search">IPHONE 13 PRO LUXURY</h2>
                    <div class="contents">
                        <p class="content1">Trusted health tracking, like sugar tracking, won't be available with this year's Apple Watch line. In return, we will have a new desig n with slightly larger edges and screens Selling price of iPhone 13 mini: With 4 GB + 64 GB:
                            699 USD (about 16 million VND) With 4 GB + 128 GB: 749 USD (about 17.11 million VND) With 4 GB + 256 GB: 849 USD (about 19.4 million VND). Selling price of iPhone 13: With 4 GB + 64 GB: 799 USD (about 18.25 million VND). With
                            4 GB + 128 GB: 849 USD (about 19.4 million VND). With 4 GB + 256 GB: 949 USD (about 21.67 million VND). Selling price of iPhone 13 Pro: With 6 GB + 128 GB: 999 USD (about 22.8 million VND). With 6 GB + 256 GB: 1,099 USD (about
                            25 million VND). With 6 GB + 512 GB: 1,299 USD (about 29.6 million VND).</p>
                        <img src="/images/download.jpg" alt="Learning English" class="LearningEnglish1">
                        <input type="button" onclick="alert('/Please Login')" value="Buy">

                    </div>
                </div>
            </div>
            <div class="body_signUp">
                <div class="Inside_body">
                    <h2 class="content3_search">GODEN </h2>
                    <div class="contents">
                        <img src="./images/Goden.jpg" alt="Learning English" class="LearningEnglish">
                        <p class="content2">. Origin of the Golden Dog breed Golden dog originated in England, is the result of successful crossbreeding between 3 breeds: Spaniels, Setters and Newfoundland, Bloodhound. Previously, the Golden Dog was called the Golden Flat
                            Coat. They are used as working dogs and for hunting. The Golden Dog's sniffing ability is unmatched among pet dogs. In the dog contest, the Golden dog also won many great prizes. Goldens are popularly raised in Vietnam because
                            they are reasonably priced. 2. Characteristics of Golden Dogs 2.1 Appearance characteristics Golden dog has a neat, balanced and healthy appearance. Overall, they look quite nice and attract the viewer. Adult Golden dog size
                            is 55 - 57cm in height, 27 - 32kg in female and 58 - 61cm in height, 29 - 34kg in male. Golden dogs have a fairly large head, a very sharp black nose that helps them sniff out all traces. Dark brown eyes, big round showing
                            inherent agility, Golden muzzle possesses strong, sharp teeth inside to help them be ready to chew all obstacles.</p>
                        <input type="button" onclick="alert('')" value="Buy">
                    </div>
                    <div class="body_fist">
                        <div class="Inside_body">
                            <h2 class="content2_search">CAT SUPER CUTE</h2>
                            <div class="contents">
                                <p class="content3">Cats are mammals with four legs. It is covered with thick, silky hair. Domestic cats are descended from wild cats. Cats were first bred in Africa, then raised in European countries and other countries. In today's development
                                    era, people have bred many new cat breeds such as calico cats. fluffy cat, tabby cat, ebony cat... A cat can be about 25 - 30 cm long and weigh from 2.5 kg to 7 kg. They have a small head, quite round, flexible movements,
                                    depending on the direction they want to move. Cat's eyes also come in a variety of colors such as yellow, black, and brown, but mostly blue.</p>
                                <img src="./images/Cat.jpg" alt="Learning English" class="LearningEnglish1">
                                <input type="button" onclick="alert('/Please Login')" value="Buy">
                            </div>
                            <footer class="footer">
                                <div class="container">
                                    <div class="rowjustify-content-center">
                                        <div class="col-sm-4col-md-3item">
                                            <h3>Services</h3>
                                            <ul>
                                                <li><a href="#">Web design</a></li>
                                                <li><a href="#">Development</a></li>
                                                <li><a href="#">Hosting</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4 col-md-3 item">
                                            <h3>About</h3>
                                            <ul>
                                                <li><a href="#">Company</a></li>
                                                <li><a href="#">Team</a></li>
                                                <li><a href="#">Legacy</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4 col-md-3 item">
                                            <h3>Careers</h3>
                                            <ul>
                                                <li><a href="#">Job openings</a></li>
                                                <li><a href="#">Employee success</a></li>
                                                <li><a href="#">Benefits</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                                            <p class="copyright">Danh Pham Cong Bang</p>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </div>

</body>

</html>